USE [master]
GO
/****** Object:  Database [VirtualMind]    Script Date: 29/4/2019 21:46:02 ******/
CREATE DATABASE [VirtualMind]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VirtualMind', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.SQLSERVER\MSSQL\DATA\VirtualMind.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'VirtualMind_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.SQLSERVER\MSSQL\DATA\VirtualMind_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VirtualMind].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VirtualMind]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 29/4/2019 21:46:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Apellido] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([ID], [Nombre], [Apellido], [Email], [Password]) VALUES (1, N'Juan', N'Perez', N'juanperez@email.com', N'12345')
INSERT [dbo].[Users] ([ID], [Nombre], [Apellido], [Email], [Password]) VALUES (2, N'Roberto', N'Gomez', N'robertogomez@email.com', N'543211')
SET IDENTITY_INSERT [dbo].[Users] OFF
USE [master]
GO
